
<p>This is the Landing Page. It Lists out all Products for the Site.</p> </br>
<p>Names and categories of books are also provided. </p>


<% @products.each do |product| %>
<%= product.name %> </br>


<%= link_to product.name, product %> </br>
<% end  %>
